<!DOCTYPE html>
<html lang="pr-br"
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    
<head th:replace="fragments/header :: header"></head>
<style>
.custom-file-input ~ .custom-file-label::after {
    content: "Selecionar Arquivo";
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
</style>

<body><div th:insert="fragments/header :: menu"></div></body>
<div class="container">

<div ng-app="app">
  <div ng-controller="UploadController as vm">
    <div class="container">
      <div class="page-header">
        <h1>Veloe - Processamento de arquivo TRN</h1>
        <h6>Serviço de captura do arquivo TRN para validação e detalhe do layout.</h6>
      </div>

      <!-- <div class="alert alert-info">
        Selecione o arquivo TRN
      </div> -->

			<p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
			<p th:text="${messageWarning}" th:if="${messageWarning ne null}" class="alert alert-warning"></p>
			<p th:text="${messageError}" th:if="${messageError ne null}" class="alert alert-danger"></p>
                <!-- <form method="post" th:action="@{/files-TRN/upload}" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" name="file" class="form-control-file">
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar Arquivo</button>
                </form> -->
                <form method="post" th:action="@{/files-TRN/upload}" enctype="multipart/form-data">
				  <div class="custom-file">
				  <!-- <input type="file" class="custom-file-input" id="file" name="file" multiple> -->
				  	<input type="file" class="custom-file-input" id="file" name="file">
				    <label class="custom-file-label" for="file">Selecione um arquivo para enviar</label>
				  </div>
				  <br/><br/>
       			  <div>
          			<button class="btn btn-primary" type="submit">Enviar Arquivo</button> 
        		</div>
				</form>
                <br/>
	   	<div class="table-responsive">
			<table class="table table-sm table-hover table-bordered table-striped">
			 <caption>Lista de arquivos</caption>
      			<thead class="bg-primary">
      				<tr>
      					<th scope="col" class="text-center text-white">#</th>
      					<th scope="col" class="text-center text-white">Tipo</th>
      					<th scope="col" class="text-center text-white">Concessionária</th>
      					<th scope="col" class="text-center text-white">Geração</th>
      					<th scope="col" class="text-center text-white">Total Registros</th>
      					<th scope="col" class="text-center text-white">Valor Total</th>
      					<th scope="col" class="text-center text-white">Ações</th>
      				</tr>
      			</thead>
     			<tbody>
 					<tr th:each="file : ${files}">
	   					<td class="text-center" th:text="${file.id}"></td>
	   					<td class="text-center" th:text="${file.tipo}"></td>
	   					<td class="text-center" th:text="${file.idConcessionaria}"></td>
	   					<td class="text-center" th:text="${file.dataGeracao} + ' ' + ${file.horaGeracao}"></td>
	   					<td class="text-center" th:text="${file.totalRegistro}"></td>
	   					<td class="text-right" th:text="|R$ ${{file.valorTotal}}|"></td>
	   					<td class="text-center align-baseline">
	   						<a class="btn btn-link" th:href="@{/files-TRN/{code}(code=${file.id})}" 
	   								rel="tooltip" data-placement="top" title="Visualizar">
	   							<span class="glyphicon glyphicon-search"></span>
	   						</a>
	   					</td>
	   				</tr>
	   				<tr>
	   					<td colspan="7" class="text-center" th:if="${#lists.isEmpty(files)}">Nenhum arquivo foi encontrado</td>
	   				</tr>
      			</tbody>
      		</table>
      	</div>
      		<div th:replace="fragments/pagination :: pagination(${files})"></div>
      		<div th:include="fragments/footer :: footer"></div> 
      	</div>	
   </div>
</div>
</html>