<!DOCTYPE html>
<html lang="pr-br"
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    
 <script>
</script>
    
<head th:replace="fragments/header :: header"></head>

<body><div th:insert="fragments/header :: menu"></div></body>

<div class="container">
    <form >
		<div><p th:text="${messageError}" th:if="${messageError ne null}" class="alert alert-danger"></p></div>
    <div class="card">
        <div class="card-header">
          <label th:text="${' #' + file.id + ' Arquivo - '+ file.tipo + ' - '+ file.sequencial}"></label>
          <a class="btn btn-primary btn-sm float-right" th:href="@{/files-TRN}" role="button">Voltar</a>
        </div>
        <div class="card-body">
<div class="table-responsive">
<table class="table table-sm table-hover">
  <thead class="bg-primary">
    <tr>
      <th scope="col" class="text-white" colspan="4">Cabeçalho</th>
    </tr>
   </thead>
    <tr>
      <th class="text-center" scope="col">Concessionária</th>
      <th class="text-center" scope="col">Geração</th>
      <th class="text-center" scope="col">Total Registros</th>
      <th class="text-center" scope="col">Valor Total</th>
    </tr>
  <tbody>
    <tr>
      <td class="text-center" th:text="${file.idConcessionaria}"></td>
      <td class="text-center" th:text="${file.dataGeracao} + ' ' + ${file.horaGeracao}"></td>
      <td class="text-center" th:text="${file.totalRegistro}"></td>
      <td class="text-right" th:text="|R$ ${{file.valorTotal}}|"></td>
    </tr>
  </tbody>
</table>
</div>
<div class="table-responsive">
<table class="table table-sm table-hover">
  <thead class="bg-primary">
    <tr>
      <th scope="col" class="text-white" colspan="5">Detalhes</th>
    </tr>
   </thead>
    <tr>
      <th class="text-center" scope="col">TAG</th>
      <th class="text-center" scope="col">Data</th>
      <th class="text-center" scope="col">Categoria</th>
      <th class="text-center" scope="col">Valor Passagem</th>
       <th class="text-center" scope="col">Placa</th>
    </tr>
  <tbody>
    <tr th:each="detail : ${file.fileDetails}">
      <td class="text-center" th:text="${detail.numeroTag}"></td>
      <td class="text-center" th:text="${detail.data} + ' ' + ${detail.hora}"></td>
      <th:block th:each="category : ${listTypeCategory}">
    	<div th:if="${category eq detail.categoriaCobrada}">
        	<td class="text-left" th:text="${category.description}"></td>
    	</div>
	  </th:block>
      <td class="text-right" th:text="|R$ ${{detail.valorPassagem}}|"></td>
      <td class="text-center" th:text="${detail.placa}"></td>
    </tr>
  </tbody>
  
  <tr>
      <th class="text-center" scope="col">Cobrança</th>
      <th class="text-center" scope="col">Passsagem</th>
      <th class="text-center" scope="col">Violação</th>
      <th class="text-center" scope="col">Emissor Tag</th>
       <th class="text-center" scope="col">Praça</th>
    </tr>
  <tbody>
    <tr th:each="detail : ${file.fileDetails}">
      <td class="text-center" th:text="${detail.statusCobranca}"></td>
      <th:block th:each="passage : ${listPassageStatus}">
    	<div th:if="${passage eq detail.statusPassagem}">
        	<td class="text-center" th:text="${passage.description}"></td>
    	</div>
	  </th:block>
      <td class="text-center" th:text="${detail.flagViolacao}"></td>
      <td class="text-center" th:text="${detail.emissorTag}"></td>
      <td class="text-center" th:text="${detail.praca}"></td>
    </tr>
  </tbody>
</table>
</div>
      	</div>
     </div>
</form>
	<div th:include="fragments/footer :: footer"></div> 
</div>
</html>