<!DOCTYPE html>
<html lang="pr-br"
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    
  <head th:fragment="header">
    <!-- Meta tags OBRIGATÓRIAS -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datepicker.standalone.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/glyphicons.css}"/>
    
	<title>Processmento de Arquivos - Veloe</title>
	
	<style>
		.page-item.active .page-link {
		  z-index: 1;
		  color: #ffffff;
		  background-color: #292b2c;
		  border-color: #ffffff;
		}
		.page-link {
		  color: #292b2c;
		}
	</style>
	
  </head>
    
  <body>

	<div th:fragment="menu">
	
		<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
		  <ul class="navbar-nav">
		  	<li class="nav-item active">
		      <a class="navbar-brand" href="#">
			      <img th:src="@{/img/veloe.png}" class="rounded-circle z-depth-0" height="35">
			      Veloe 
			    </a>
		    </li>
		    <li class="nav-item active">
		      <a class="nav-link" href="#">Arquivo TRN</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link" href="#">Arquivo TRT</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link" href="#">Arquivo TRF</a>
		    </li>
		    <!-- <li class="nav-item">
		      <a class="nav-link disabled" href="#">Disabled</a>
		    </li> -->
		  </ul>
    	</nav>
		<br/>
    </div>

  </body>
</html>